<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="nav-brand align-items-center d-flex m-3">
            <i style="font-size:30px ;" class="fas fa-shipping-fast">&nbsp;
            </i>
            <strong style="font-size:30px ;">Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="Search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        
        <span>
            <!-- <h6>{{mailName}}</h6> -->
        <!-- {{time}} -->
        </span>
        <div class="d-flex">
            <button routerLink="cart" class="btn btn-primary">
                <i style="font-size:30px ;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
            <button class="btn btn-danger" >Log Out</button>
        <button class="btn btn-danger" >Empty</button>
        </div>
    </div>
    
</header>
<!-- <app-products>
    
</app-products> -->